%h1
  = t('.heading')

= semantic_form_for @user_session do |f|
  = f.semantic_errors
  
  = f.inputs do
    = f.label :email
    = f.text_field :email, :required => true
    = f.label :password
    = f.password_field :password, :required => true
    
  = f.buttons do
    = f.submit t('.submit_button')
    
= link_to t('.sign_up_link'), new_user_path